<launch>
	<master auto="start"/>
	
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find p3at_navigation)/navigation/common/costmap_common_params_p3at.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find p3at_navigation)/navigation/common/costmap_common_params_p3at.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find p3at_navigation)/navigation/common/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find p3at_navigation)/navigation/amcl/amcl_global_costmap_params.yaml" command="load" />
    <rosparam file="$(find p3at_navigation)/navigation/common/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find p3at_navigation)/navigation/common/recovery_behaviors.yaml" command="load" />
    </node>
</launch>
